.container {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;         
}

/* Bouton retour */
.back {
  text-decoration: none;
  color: #0077ff;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

/* Carte principale */
.recipe {
  background: white;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* Header recette */
.recipe__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe__header h1 {
  margin: 0;
}

/* Favorite */
.favorite {
  font-size: 28px;
  cursor: pointer;
  transition: 0.2s ease;
}

.favorite:hover {
  transform: scale(1.1);
}

/* Infos */
.recipe__info {
  margin-top: 15px;
  padding-bottom: 15px;
}

/* Instructions */
.recipe__instructions {
  margin-top: 20px;
  line-height: 1.6;
  white-space: pre-line;
}

.recipe__image {
  width: 80%;
  max-height: 300px;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 20px;
  border:  black 5px solid;
}

.recipe__ingredients ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.recipe__ingredients li {
  background-color: #f0f7ff;
  color: #2563eb;
  border: 1px solid #bfdbfe;
  border-radius: 20px;
  padding: 5px 14px;
  font-size: 14px;
}

@media (max-width: 728px) {
  .container {
    padding: 15px;
  }

  .recipe {
    padding: 15px;
  }

  .recipe__header h1 {
    font-size: 1.3em;
  }

  .recipe__image {
    width: 100%;
    border-radius: 12px;
  }
}